dist/
docs/
results/genediff
Results*
*Rproj
.R*
.Rproj.user
*.pyc
*svg
*.txt
*.fasta
*mafft*
*ipynb_checkpoints*
.vscode

logo_img
config/Metadata.xlsx
go.obo
funestus.counts.tsv
*.gff
misc/
workflow/scripts/plotPhyloTrees.R
Untitled*
*AllRes*
resources/AfunGenes2TranscriptMap.tsv

logo_array.tsv
sample_map.pdf
results/counts* 
results/phylo
results